[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pandas = "*"
xlrd = "*"
openpyxl = "*"
pytest = "*"
sh = "*"
requests = "*"

[requires]
python_version = "2.7"
